* {
  /* Definerar färgerna jag ska ha */
  --green0: #17ff00;
  --green1: #45ff33;
  --green2: #11b600;
  --green3: green;
  --green4: chartreuse;
  --std_corner_rad: 25px;
  --std_padding: 20px;
}


body {
  margin: 0;
  line-height: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* .skibidi1_huvuddel {
  background: linear-gradient(90deg, var(--green0), var(--green1) 50.1%, var(--green2));

  height: 100px;
  display: flex;
  text-align: center;
  display: block;
  border: #1e00ff 4px solid;
} */



header {
  background: linear-gradient(90deg, var(--green0), var(--green1) 50.1%, var(--green2));

  height: 100px;
  display: flex;
  text-align: center;
  display: block;
}

footer {
  background-color: grey;
  position: absolute;
  width: 100%;
  height: 250px;
  padding: 10px;  
}


.cvtext{
  /* position: absolute; */
  top: 0px;
  left: 0px;
  position: relative;
  /* display: inline-block; */

  background: linear-gradient(90deg, var(--green0), var(--green1) 50.1%, var(--green2));

  height: 100px;
  display: flex;
  text-align: center;
  display: block;
  border: #1e00ff 4px solid;
}
.text1{
  position: relative;
  font-size: 50px;
  font-family: 'Jockey One';
  color: #000;
  text-align: left;
  display: inline-block;

}

.Textbox_container1{
margin-top: 15px;
display: flex;
justify-content: space-evenly;
}

.textboxt_container2{
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-evenly;
}


.Textbox1 {
  background-color: var(--green0);
  width: 450px;
  height: 150px;
  border-radius: var(--std_corner_rad);
  padding: 25px;
  font-size: 18pt;
  text-align: left;
}

.imgs {
  padding: 15px;
  background-color: gray;

}

.Textbox2 {

  background-color: var(--green4);
  width: 250px;
  border-radius: 25px;
  padding: 25px;
  bottom: 150px;
  font-size: 17pt;
  text-align: left;
}

.textbox3 {
  background-color: green;
  width: 400px;
  height: 150px;
  padding: 15px;
  text-align: center;
  font-size: 8pt;
  border-radius: var(--std_corner_rad);
  color: white;
}
.textbox3 p{
  font-size: 20px;
}

.form1 {
  padding: 10px;
  border: 5px black solid
}





.textbox_a1 {

  background-color: var(--green0);
  width: 45px;
  height: 125px;

  border-radius: var(--std_corner_rad);
  padding: 25px;
  font-size: 18pt;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 15px;
}

.textbox_a1 {

  background-color: green;
  width: 450px;
  height: 100px;
  border-radius: var(--std_corner_rad);
  padding: 25px;
  font-size: 19pt;
  border: 2px solid black;
  margin-bottom: 10px;
}

.textbox_a2 {
  background-color: green;
  width: 450px;
  height: 100px;
  border-radius: var(--std_corner_rad);
  border: 2px solid black;
  padding: 25px;
  font-size: 19pt;
  margin-bottom: 10px;
}

.textbox_a3 {
  background-color: green;
  border: 2px solid black;
  width: 450px;
  height: 100px;
  border-radius: var(--std_corner_rad);
  padding: 25px;
  font-size: 19pt;
  margin-bottom: 10px;
}

.textbox_a4 {
  position: relative;
  /* background-color: rgb(30, 216, 43); */
  background-color: green;
  width: 450px;
  height: 100px;
  /* left: 125px; */
  /* bottom: -250px; */
  border-radius: var(--std_corner_rad);
  padding: 25px;
  font-size: 19pt;
  /* text-align: left; */
}

.img2 {
  /* position: relative; */
  /* height: 17%;
  width: 16%; */
  width: 300px;
  height: 300px;
  /* left: 900px; */
  /* bottom: 200px; */
  padding: 20px;
  background: gray;
  border-radius: 25px;
  
}

.textbox_a5 {
  /* position: relative; */
  /* background-color: rgb(30, 216, 43); */
  background-color: rgb(155, 155, 155);
  width: 450px;
  height: 300px;
  padding: 10px;
  
  /* left: 900px; */
  /* bottom: 950px; */
  border-radius: var(--std_corner_rad);
  /* padding: 25px; */
  font-size: 19pt;
  /* text-align: left; */
}

.imge {
  padding: 10px;
  background-color: gray;
  height: 40%;
  width: 40%;
  border-radius: 25px;
  
}

.imge_cont { 
  display: flex;
  /* position: relative; */
  /* display: inline-block; */
  /* position:absolute; */
  /* left: 100px; */
  /* bottom: 850px; */
}


.textbox_b1 { 
  position: relative;
  /* background-color: rgb(30, 216, 43); */
  background-color: rgb(147, 147, 147);
  width: 450px;
  height: 300px;
  /* left: 800px; */
  /* bottom: 230px; */
  border-radius: var(--std_corner_rad);
  padding: 25px;
  font-size: 19pt;
  text-align: left;
}

.textbox_b2 { 
  position: relative;
  /* background-color: rgb(30, 216, 43); */
  background-color: rgb(147, 147, 147);
  width: 450px;
  height: 330px;
  /* left: 800px; */
  /* bottom: 150px; */
  border-radius: var(--std_corner_rad);
  padding: 25px;
  font-size: 19pt;
  text-align: left;
}

.textbox_b3 { 
  position: relative;
  /* background-color: rgb(30, 216, 43); */
  background-color: rgb(147, 147, 147);
  width: 450px;
  height: 350px;
  /* l'eft: 100px; */
  /* bottom: 550px; */
  border-radius: var(--std_corner_rad);
  padding: 25px;
  font-size: 19pt;
  text-align: left;
}



.skibid_textbox_container {
  display: flex;
  justify-content: center; /* Centrerar horisontellt */
  align-items: center; /* Centrerar vertikalt */
  margin: 15px auto; /* Centrera div på sidan */
  flex-direction: row;
  /* border: #000 2px solid; */
  width: fit-content; /* Anpassa storlek efter innehåll */
  width: 100%; /* Gör att containern tar hela bredden */
  max-width: 100%;
  

}





.textbox_c1 {
  align-self: center;
  justify-content: center;
  text-align: center;
  background-color: green;
  width: 100%;
  height: 150px;
  border-radius: var(--std_corner_rad);
  padding: 25px;
  font-size: 17pt;

}

.FISH{
  padding: 10px;
  background-color: gray;
  width: 90%;
  border-radius: 25px;
}

.fish{
  width: fit-content;
}

.fishtext {
  background-color: rgb(34, 187, 34);
  width: 800px;
  height: 100px;
  border-radius: var(--std_corner_rad);
  padding: 25px;
  font-size: 17pt;
  text-align: left;
}

.fritid_container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  align-items: center;

}

/* ÄNDRA MIN til MAX NÄR KLAR */
@media only screen and (max-width:600px) 
{
  .Textbox_container1{
    flex-direction: row;
    /* border: #000 2px solid; */
  }


  .imgs{
    width: 50%;

  }
  .imgs img{
    width: 100%
  }

  .Textbox1{
    width: 50%;
    height: 100%;
  }

  .textboxt_container2{
    flex-direction: row;
    /* border: #f70f0f 2px solid; */
    height: 100%;

  }
  .textbox3{
    width: 50%;
    margin: 0;
    padding: 0;
    height: auto;
  }


  .cvtext{
    width: 100;
  }


  /* School */

  


  .Skibidi_contain{
    display: flex;
    flex-direction: column;
  }


  .imge_cont{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    height: 15%; }

  .imge{
    display: flex;
    width: 100%;
    height: auto
    /* background-size: 100% 100%; */
  }


  .textbox_b1{
    width: 100%;
    font-size: 90%;
    height: 15%;
  }

  .contain2222222JAGORKARINTEMER{
    display: flex;
    flex-direction: row;
    margin: 15px;
  }
  .textbox_b2{
    width: 100%;
    font-size: 90%;
    height: 15%;
    margin: 2px;
  }

  
  .textbox_b3{
    width: 100%;
    font-size: 90%;
    height: 15%;
    margin: 2px;
  }

/* about me  */

  .fritid_container{
    display: flex;
    flex-direction: row;
  }


  /* Fritid */


  .skibidi1_huvuddel{
    width: auto;
  }
  .textbox_c1{
    text-align:center;
    font-size: 100%;
  }

  .fishtext{
    width: 90%;
  }


}